asgiref==3.10.0
boto3==1.43.9
botocore==1.43.9
certifi==2025.10.5
charset-normalizer==3.4.4
dj-database-url==3.1.2
Django==5.2.4
django-allauth==65.9.0
django-browser-reload==1.18.0
django-cleanup==9.0.0
django-colorfield==0.14.0
django-htmx==1.23.2
django-storages==1.14.6
djangorestframework==3.17.1
git-filter-repo==2.47.0
gunicorn==26.0.0
idna==3.11
jmespath==1.1.0
packaging==26.2
pillow==11.3.0
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.32.5
s3transfer==0.17.0
six==1.17.0
sqlparse==0.5.3
stripe==13.0.1
typing_extensions==4.15.0
urllib3==2.5.0
whitenoise==6.12.0
